.mobile-nav(data-scroll-lock-scrollable)
  .mobile-nav__inner
    .container.mobile-nav__container
      nav.mobile-nav__element 
        ul.mobile-nav__list 
          li.mobile-nav__item 
            a.mobile-nav__link(href="#about" data-action="ScrollToAnchor") О нас
          li.mobile-nav__item 
            a.mobile-nav__link(href="#services" data-action="ScrollToAnchor") Услуги
          li.mobile-nav__item 
            a.mobile-nav__link(href="#partners" data-action="ScrollToAnchor") Партнеры
          li.mobile-nav__item 
            a.mobile-nav__link(href="#contacts" data-action="ScrollToAnchor") Контакты

      a(href="tel:+70000000000").mobile-nav__phone +7 (000) 000-00-00
    