.home {
  --pt: calc(var(--header-height) + var(--header-top-height));
  --lamp-size: 360px;
  height: 200vh;
  padding: var(--pt) 0 0 0;
  height: var(--window-safe-height);
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  @supports (filter: blur(150px)) {
    &::before {
      content: '';
      --size: calc(var(--lamp-size) * 0.83);
      width: var(--size);
      height: var(--size);
      border-radius: 100%;
      background: #122145;
      filter: blur(120px);
      position: absolute;
      right: calc(var(--content-fields-width) - 100px);
      top: 24%;
      z-index: 3;
    }
  }
  &__lamp {
    --size: calc(var(--lamp-size) * 0.83);
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    opacity: 0.5;
    transition: opacity var(--trs-2);
    img {
      width: var(--lamp-size);
      height: auto;
      transform: translate(-10%, 0) rotate(-45deg);
      position: relative;
      z-index: 2;
    }
    &.active {
      opacity: 1;
    }
    @supports (filter: blur(250px)) {
      &::after {
        content: '';
        display: block;
        width: var(--size);
        height: var(--size);
        border-radius: 100%;
        position: absolute;
        bottom: -7%;
        right: -18%;
        background-color: #D2476F;
        filter: blur(250px);
        opacity: 0;
        transition: opacity var(--trs-2);
      }
      &.active {
        &::after {
          opacity: 1;
        }
      }
    }
    @supports (filter: drop-shadow(12px 12px 32px rgba(237, 161, 14, 0.7))) {
      img {
        transition: filter var(--trs-2);
      }
      &.active {
        img {
          filter: drop-shadow(12px 12px 32px rgba(237, 161, 14, 0.7));
        }
      }
    }
  }
  &__light {
    --size: calc(var(--lamp-size) * 0.83);
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    background-color: #323070;
    position: absolute;
    top: 168px;
    left: 58px;
    box-shadow: 0px 0px 200px 200px #323070;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.04;
    z-index: 2;
  }
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 4;
  }
  &__content {
    max-width: 570px;
  }
  &__title {
    margin-top: 0;
  }
  &__text {
    font-size: 20px;
    color: #fff;
    margin: 0;
  }
  &__logo {
    width: 108px;
    margin-bottom: 12px;
  }
  &__button {
    margin-top: 40px;
    border-radius: 4px;
    height: 66px;
    font-weight: 500;
    font-size: 20px;
    width: 280px;
  }
}

.message-label-section {
  background-color: var(--color-accent);
  padding: 26px 0;
  margin-bottom: calc(var(--section-margin) / 2);
  &__text {
    color: var(--color-text-dark);
    text-align: center;
  }
}

.about {
  &__text {
    font-size: 20px;
    strong {
      font-weight: inherit;
      color: #fff;
    }
  }
  &__image {
    border-radius: 8px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    height: 290px;
  }
}

.services {
  &__container {
    display: grid;
    gap: var(--grid-gutter-width);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}

.services-block {
  --radius: 8px;
  border-radius: var(--radius);
  overflow: hidden;
  background-color: #211E65;
  height: 100%;
  box-shadow: 0px 4px 20px rgba(14, 23, 54, 0.2);
  &__image {
    height: 200px;
    border-radius: var(--radius) var(--radius) 0 0;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
  &__content {
    padding: 20px;
    font-size: 14px;
  }
}

.section-meter {
  margin-bottom: calc(var(--section-margin) / 2);
}

.meter-box {
  --radius: 8px;
  background-color: #211E65;
  border-radius: var(--radius);
  position: relative;
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 100px 90px;
    gap: 120px;
  }
  &__image {
    width: 214px;
    flex: 0 0 auto;
    img {
      width: 100%;
    }
  }
  &__content {
    flex: 1 1 auto;
  }
  &__text {
    font-size: 28px;
  }
}

.partners {
  margin-bottom: calc(var(--section-margin) / 2);
  padding: var(--section-margin) 0;
  background-color: #211E65;
  &__container {
    display: grid;
    flex-wrap: wrap;
    gap: 50px 30px;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    position: relative;
    .image {
      transition: opacity var(--trs-1);
      will-change: opacity;
      &:last-child {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0; 
      }
    }
    &[data-touch], &[data-hover] {
      .image {
        &:first-child {
          transition-delay: var(--animation-duration-1);
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
        }
      }
    }
  }
}

.form-block {
  background-color: #211E65;
  border-radius: 8px;
  position: relative;
  padding: 60px 90px 60px 370px;
  margin-bottom: calc(var(--section-margin) / 2);
  &__head {
    margin-bottom: 20px;
  }
  &__image {
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 260px;
  }
}

.contacts {
  padding: 60px 0;
  background-color: #211E65;
  margin-bottom: 0;
  &__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__content {
    background: #FFFFFF;
    color: var(--color-text-dark);
    box-shadow: 0px 4px 20px rgba(14, 23, 54, 0.2);
    border-radius: 8px;
    width: 470px;
    margin: 0 var(--content-fields-width) 0 auto;
    padding: 60px;
    position: relative;
    z-index: 2;
  }
  &__title {
    color: inherit;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  &__element {
    position: relative;
    padding-left: 34px;
    transition: opacity var(--trs-1);
    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &[data-touch], &[data-hover] {
      opacity: 0.5;
    }
  }
}