extends layout/layout
block content
  

  
  .form-box.question-form
    .container
      .wrap
        .title Есть вопросы? Напишите нам
        form#feedback-message-request-form.default-form(action='/crm/message/' method='post')
          input(type='hidden' name='csrfmiddlewaretoken' value='DHqdhOS9BKayTY8GWQeEZ5uNKzXjPbFlX5Ac5sz1QbwPsqg7RJay3uiBMhqD6g0H')
          input(type='hidden' name='url' value='/')
          .row
            .col-sm-6.col-xs-12
              .inp-wr
                input(type='text' placeholder='Имя' name='name' autocomplete='off' required='')
              .inp-wr
                input.phone(type='text' placeholder='+7 (999) 123 45 67' name='phone' autocomplete='off' required='')
              .inp-wr
                input(type='text' placeholder='email@example.com' name='email' autocomplete='off' required='')
            .col-sm-6.col-xs-12
              .inp-wr
                textarea(name='message' autocomplete='off' required='' placeholder='Ваше сообщение')
              .btn-wr
                input.btn(type='submit' value='Отправить')
