footer.footer
  .container.footer__container 
    .footer__container-1

      .footer__container-1-top
        a(href="./").footer__logo
          img(src="./img/logos/logo2.png", alt="logo")
        ul.socials.footer__socials
          li.socials__item.footer__socials-item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='./img/icons/icons.svg#telegram')
          li.socials__item.footer__socials-item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='./img/icons/icons.svg#twitter')
      
      .footer__copyright © 2018-2021 Boosteam.

      .footer__info Powered by Steam, a registered trademark of Valve Corporation. Valve, the Valve logo, the Steam logo, Counter-Strike and the Counter-Strike logo are trademarks and/or registered trademarks of Valve Corporation. All other trademarks are property of their respective owners



    .footer__container-2
      .footer__statistics
        .footer__statistics-item 
          img(src="./img/icons/task.png", alt="icon").icon
          span 100.234
          span выполненых<br> задания
        .footer__statistics-item 
          img(src="./img/icons/payment.png", alt="icon").icon
          span 750.234
          span вывод<br> средств
        .footer__statistics-item 
          img(src="./img/icons/users.png", alt="icon").icon
          span 50.234
          span пользователей<br> всего
        .footer__statistics-item 
          img(src="./img/icons/user.png", alt="icon" style='padding:2px;').icon
          span 243
          span онлайн 
      ul.footer__nav
        li.footer__nav-item 
          a(href="#").footer__nav-link ПОЛИТИКА КОНФИДИЦИАЛЬНОСТИ 
        li.footer__nav-item 
          a(href="#").footer__nav-link КОНТАКТЫ

      .footer__payment
        .payment-item.footer__payment-item(data-custom-interaction)
          .image
            img(data-src="./img/sber-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/sber.png", alt="icon").lazyload
          
        .payment-item.footer__payment-item(data-custom-interaction)
          .image
            img(data-src="./img/webmoney-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/webmoney.png", alt="icon").lazyload
          
        .payment-item.footer__payment-item(data-custom-interaction)
          .image
            img(data-src="./img/qiwi-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/qiwi.png", alt="icon").lazyload
          
        .payment-item.footer__payment-item(data-custom-interaction)
          .image
            img(data-src="./img/master-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/master.png", alt="icon").lazyload
          
        .payment-item.footer__payment-item(data-custom-interaction)
          .image
            img(data-src="./img/pay-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/pay.png", alt="icon").lazyload