extends layout/layout
block variables
  -var title = sitename+' - Главная'
block content
  .users-counter 
      span 125
      | чел

  section.section.home-screen 
    
    .container.home-screen__container
      .home-screen__text-content
        h1.home-screen__title BOOSTEAM
        h2.home-screen__desription 
          span делай столько,<br> сколько сможешь
          span работа разделена<br> на микрозадачи
      
      .auth-block
        img(src="./img/icons/user.png", alt="icon").icon.auth-block__icon
        .auth-block__content(data-tabs='parent')
          .auth-block__head
            a(href="javascript:void(0);" data-tabs='link').auth-block__tab-button.is-active
              span вход
            a(href="javascript:void(0);" data-tabs='link').auth-block__tab-button
              span регистрация

          .auth-block__content(data-tabs='wrapper')

            .auth-block__tab.is-active(data-tabs='block') 
              form.form 
                .form__element 
                  label.input 
                    img(src="./img/icons/user.png", alt="icon").icon
                    input(type="text" placeholder="имя").input__element
                .form__element 
                  .checkbox
                    input(type="checkbox" id='save' checked).checkbox__input
                    label(for='save').checkbox__label запомнить меня

                .form__submit 
                  .error-message 
                    img(src="./img/icons/error.png", alt="icon").icon
                    span такой пользователь не найден
                  button.button.button_style-3 войти
            
            .auth-block__tab(data-tabs='block') 
              form.form 
                .form__element 
                  label.input 
                    img(src="./img/icons/user.png", alt="icon").icon
                    input(type="text" placeholder="имя").input__element
                .form__element 
                  label.input 
                    img(src="./img/icons/envelope.png", alt="icon").icon
                    input(type="email" placeholder="почта").input__element
                .form__submit 
                  button.button.button_style-3 зарегистрироваться

  section.section.section-statistics
    .container 
      .statistics-headline.section-statistics__headline 
        svg(viewBox='0 0 1060 82' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="none").statistics-headline__bg
          path(d='M1058 39L1026 3L36 1L2 39L36 81H1026L1058 39Z' fill='black' stroke='white' stroke-width='2')
        .statistics-headline__content   
          .statistics-headline__item(data-aos="zoom-in")
            img(src="./img/icons/user.png", alt="icon").icon
            span онлайн
            span 100
          .statistics-headline__item(data-aos="zoom-in" data-aos-delay="50")
            img(src="./img/icons/money-turnover.png", alt="icon").icon
            span заработано
            span 500тыс Р
          .statistics-headline__item(data-aos="zoom-in" data-aos-delay="100")
            img(src="./img/icons/users.png", alt="icon").icon
            span пользователи
            span 723
          .statistics-headline__item(data-aos="zoom-in" data-aos-delay="150")
            img(src="./img/icons/24hours.png", alt="icon").icon
            span за 24 часа
            span 723
          .statistics-headline__item(data-aos="zoom-in" data-aos-delay="200") 
            img(src="./img/icons/cash-payment.png", alt="icon").icon
            span всего
            span 142тыс

      .section-statistics__content 
        .statistics-box(data-custom-interaction data-aos="fade-up-right" data-aos-duration="500")
          .statistics-box__head 
            h4.statistics-box__title ТОП ЗАРОБОТКА
            .image.image_contain.statistics-box__head-image
              img(src="./img/icons/cup.png", alt="image")
          .statistics-box__container 
            //element
            .statistics-box__element 
              .statistics-box__element-left
                .statistics-box__element-index 
                  img(src="./img/icons/star.png", alt="icon").icon
                  span 1
                .statistics-box__element-image.image.image_cover 
                  img(data-src="./img/icons/portrait.png", alt="image").lazyload
                .statistics-box__element-name Alex.n
              .statistics-box__element-right
                img(src="./img/icons/monet.png", alt="icon").icon.statistics-box__element-monet
                .statistics-box__element-total 
                  span 125.8
                  span тыс.руб
            //element
            .statistics-box__element 
              .statistics-box__element-left
                .statistics-box__element-index 
                  img(src="./img/icons/star.png", alt="icon").icon
                  span 2
                .statistics-box__element-image.image.image_cover 
                  img(data-src="./img/icons/portrait.png", alt="image").lazyload
                .statistics-box__element-name Alex.n
              .statistics-box__element-right
                img(src="./img/icons/monet.png", alt="icon").icon.statistics-box__element-monet
                .statistics-box__element-total 
                  span 125.8
                  span тыс.руб
            //element
            .statistics-box__element 
              .statistics-box__element-left
                .statistics-box__element-index 
                  img(src="./img/icons/star.png", alt="icon").icon
                  span 3
                .statistics-box__element-image.image.image_cover 
                  img(data-src="./img/icons/portrait.png", alt="image").lazyload
                .statistics-box__element-name Alex.n
              .statistics-box__element-right
                img(src="./img/icons/monet.png", alt="icon").icon.statistics-box__element-monet
                .statistics-box__element-total 
                  span 125.8
                  span тыс.руб

        .statistics-box(data-custom-interaction data-aos="fade-up-left" data-aos-delay="100" data-aos-duration="500")
          .statistics-box__head 
            h4.statistics-box__title ТОП ВЫВОДА
            .image.image_contain.statistics-box__head-image
              img(src="./img/icons/cup.png", alt="image")
          .statistics-box__container 
            //element
            .statistics-box__element
              .statistics-box__element-left
                .statistics-box__element-index 
                  img(src="./img/icons/star.png", alt="icon").icon
                  span 1
                .statistics-box__element-image.image.image_cover 
                  img(data-src="./img/icons/portrait.png", alt="image").lazyload
                .statistics-box__element-name Alex.n
              .statistics-box__element-right
                img(src="./img/icons/monet.png", alt="icon").icon.statistics-box__element-monet
                .statistics-box__element-total 
                  span 125.8
                  span тыс.руб
            //element
            .statistics-box__element 
              .statistics-box__element-left
                .statistics-box__element-index 
                  img(src="./img/icons/star.png", alt="icon").icon
                  span 2
                .statistics-box__element-image.image.image_cover 
                  img(data-src="./img/icons/portrait.png", alt="image").lazyload
                .statistics-box__element-name Alex.n
              .statistics-box__element-right
                img(src="./img/icons/monet.png", alt="icon").icon.statistics-box__element-monet
                .statistics-box__element-total 
                  span 125.8
                  span тыс.руб
            //element
            .statistics-box__element 
              .statistics-box__element-left
                .statistics-box__element-index 
                  img(src="./img/icons/star.png", alt="icon").icon
                  span 3
                .statistics-box__element-image.image.image_cover 
                  img(data-src="./img/icons/portrait.png", alt="image").lazyload
                .statistics-box__element-name Alex.n
              .statistics-box__element-right
                img(src="./img/icons/monet.png", alt="icon").icon.statistics-box__element-monet
                .statistics-box__element-total 
                  span 125.8
                  span тыс.руб

  section.section.section-about
    .container 
      .section-about__head
        h2.section-about__title Основные принципы Boosteam 
        p.section-about__description Boosteam - не просто биржа заданий, это в первую очередь команда людей,которых обьединяет тема зароботка в интернете. мы общаемся,делимся информацией вместе!
      .section-about__items 
        .section-about__item(data-aos="fade-up-right")
          img(src="./img/icons/pass.png", alt="icon").icon
          p Зарегестрируйтесь<br> на сайте
        .section-about__item(data-aos="fade-up-right" data-aos-delay="50") 
          img(src="./img/icons/wool.png", alt="icon").icon
          p Выполняй<br> задачи
        .section-about__item(data-aos="fade-up" data-aos-delay="100")
          img(src="./img/icons/money-turnover.png", alt="icon").icon
          p Получай<br> вознагрождение
        .section-about__item(data-aos="fade-up-left" data-aos-delay="150") 
          img(src="./img/icons/reputation.png", alt="icon").icon
          p Повышай<br> репутацию
        .section-about__item(data-aos="fade-up-left" data-aos-delay="200") 
          img(src="./img/icons/chart.png", alt="icon").icon
          p Полуйчай<br> больше
          
      .section-about__payment 

        .payment-item.section-about__payment-item(data-custom-interaction data-aos="fade-up-right")
          .image
            img(data-src="./img/sber-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/sber.png", alt="icon").lazyload
          
        .payment-item.section-about__payment-item(data-custom-interaction data-aos="fade-up-right" data-aos-delay="50")
          .image
            img(data-src="./img/webmoney-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/webmoney.png", alt="icon").lazyload
          
        .payment-item.section-about__payment-item(data-custom-interaction data-aos="fade-up" data-aos-delay="100")
          .image
            img(data-src="./img/qiwi-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/qiwi.png", alt="icon").lazyload
          
        .payment-item.section-about__payment-item(data-custom-interaction data-aos="fade-up-left" data-aos-delay="150")
          .image
            img(data-src="./img/master-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/master.png", alt="icon").lazyload
          
        .payment-item.section-about__payment-item(data-custom-interaction data-aos="fade-up-left" data-aos-delay="200")
          .image
            img(data-src="./img/pay-white.png", alt="icon").lazyload
          .image
            img(data-src="./img/pay.png", alt="icon").lazyload
  
  section.section.section-features
    img(src="./img/man3.png", alt="bg").section-features__bg
    .container.section-features__container 
      img(data-src="./img/line1.png", alt="line" data-aos="zoom-in" data-aos-anchor=".section-features__content").lazyload.section-features__line.section-features__line_1
      img(data-src="./img/line2.png", alt="line" data-aos="zoom-in" data-aos-anchor=".section-features__content" data-aos-delay="200").lazyload.section-features__line.section-features__line_2
      img(data-src="./img/line3.png", alt="line" data-aos="zoom-in" data-aos-anchor=".section-features__content" data-aos-delay="400").lazyload.section-features__line.section-features__line_3
      img(data-src="./img/line4.png", alt="line" data-aos="zoom-in" data-aos-anchor=".section-features__content" data-aos-delay="600").lazyload.section-features__line.section-features__line_4
      .section-features__content 
        .section-features__item(data-aos="zoom-in" data-aos-anchor=".section-features__content" data-aos-delay="100")
          .section-features__item-icon
            img(src="./img/icons/check-list.png", alt="icon").icon
          span Работа разбита на микрозадачи<br> нету таймера и капчи!
        .section-features__item(data-aos="zoom-in" data-aos-anchor=".section-features__content" data-aos-delay="300")
          .section-features__item-icon
            img(src="./img/icons/user-experience.png", alt="icon").icon
          span стоимость зависит  от опыта,<br> который растет с вашим уровнем
        .section-features__item(data-aos="zoom-in" data-aos-anchor=".section-features__content" data-aos-delay="500")
          .section-features__item-icon
            img(src="./img/icons/football-referree.png", alt="icon").icon
          span 10 рублй за рефереала<br> Стоимость действий от 1р
        .section-features__item(data-aos="zoom-in" data-aos-anchor=".section-features__content" data-aos-delay="700") 
          .section-features__item-icon
            img(src="./img/icons/prize.png", alt="icon").icon
          span Призы для активных<br> постоянные конкурсы до 10тыс.р
          


      
    