extends layout/layout
block variables
  -var title = sitename+' - Правила'
block content
  section.section
    .container 
      h2.section__title Правила
      .rules-tabs(data-tabs='parent')
        .rules-tabs__head 
          a(href="javascript:void(0);" data-tabs='link').rules-tabs__link.is-active публичная оферта
          a(href="javascript:void(0);" data-tabs='link').rules-tabs__link политика конфиденциальности
        .rules-tabs__content(data-tabs='wrapper') 
          .rules-tabs__tab.is-active(data-tabs='block')
            p Cторон своих родителей. В первом сезоне Полли предполагает, что их семья имеет родственные связи с семьёй Ли по материнской линии.
            p По ходу сюжета зрителю дают понять, что в личности Томаса произошли радикальные изменения после того, как он прошел через туннели во Франции во время Первой Мировой. Он был одним из добровольцев, которые скрытно копали туннели, чтобы разместить огромное количество взрывчатки под линией врага - такая тактика несколько раз использовалась в годы войны для разрушительного воздействия. После войны Томас начал испытывать симптомы пост-травматического стрессового расстройства.
          .rules-tabs__tab(data-tabs='block')
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.