.mobile-nav {
  position: fixed;
  width: var(--window-width);
  height: 100%;
  z-index: 999;
  background-color: var(--main-bg);
  top: 0;
  left: 0;
  --gy: 80px;
  display: none;
  &__inner {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-top: var(--header-height);
  }
  &__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gy);
    position: relative;
    z-index: 1;
    padding-top: var(--gy);
    padding-bottom: var(--gy);
  }
  &__element {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
  }
  &__link {
    display: block;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    transition: color var(--trs-1);
    &[data-touch], &[data-hover] {
      color: var(--color-accent);
    }
  }
  &__socials {
    --size: 34px;
  }
  @include media-breakpoint-up(lg) {
    display: none !important;
  }
  @include media-breakpoint-down(sm) {
    --gy: 60px;
    &__socials {
      --size: 28px;
    }
  }
}