footer.footer
  .container
    .footer__top 
      -socialsClasses = 'footer__socials'
      include socials

      a(href="./").logo.footer__logo
        img.logo__image(src="./assets/img/logos/logo.png", alt="logo")
        .logo__text <span>Gam</span>bling Orcs
      
    .footer__copyright.h5 Copyright gamblingorcs 2022. All rights reserved
    
    