.mobile-nav
  .mobile-nav__inner(data-scroll-lock-scrollable)
    .container.mobile-nav__container
      nav.mobile-nav__element 
        ul.mobile-nav__list.h4
          li.mobile-nav__item 
            a.mobile-nav__link(href="/assets/file.pdf" target="_blank") Litepaper
          li.mobile-nav__item 
            a.mobile-nav__link(href="#gallery" data-action="ScrollToAnchor") Gallery
          li.mobile-nav__item 
            a.mobile-nav__link(href="#roadmap" data-action="ScrollToAnchor") Roadmap
          li.mobile-nav__item 
            a.mobile-nav__link(href="#team" data-action="ScrollToAnchor") Team
          li.mobile-nav__item 
            a.mobile-nav__link(href="#faq" data-action="ScrollToAnchor") FAQ

      -socialsClasses = 'mobile-nav__socials'
      include socials
    