section.section.pt-0.pb-0.mb-30.mb-sm-40.mb-xl-50
  .container
    h4.mb-sm-30 Phase 1
    ul.phase-list
      li.phase-list__item Launch of the Gambling Orcs Website as well as 
        a(href=twitter target="_blank") Twitter 
        | & 
        a(href=discord target="_blank") Discord
      li.phase-list__item Create high quality beautiful art
      li.phase-list__item Start Twitter/Discord marketing campaign
      li.phase-list__item Fill out the first whitelist
