.socials(class=socialsClasses)
  ul.socials__list 
    li.socials__item 
      a(href=twitter target="_blank").socials__link
        svg.icon
          use(xlink:href='/assets/img/icons/socials.svg#twitter')
    li.socials__item 
      a(href=discord target="_blank").socials__link
        svg.icon
          use(xlink:href='/assets/img/icons/socials.svg#discord')
