extends layout/layout
block content 
  include blocks/breadcrumbs
  .container
    section.section
      h1.new-content__title.section__title
        | Доставка
      .row
        .account.col-xl-9
      .row.justify-content-center
        .account.col-xl-9
      .row
        .col-lg-9
          .title-large Выберите способ доставки:
          .alert.alert-info При сумме заказа от 3000 руб скидка на доставку составляет 200 руб.
          form#delivery_form.form.form-delivery(action='/catalog/cart/delivery/' method='post' data-cart-total-price='4708')
            input(type='hidden' name='csrfmiddlewaretoken' value='oSiaEnmG0UkGIikCMhOKsmnx8u729HVaT4fEeBtBV0w34XR08qKCorQZyWx5KGB6')
            fieldset.form__group.-inline
              label.radio.radio-large(for='id_delivery_type_0')
                input#id_delivery_type_0(type='radio' name='delivery_type' value='48' required='')
                span.outer
                  span.inner
                span.text Самовывоз
              label.radio.radio-large(for='id_delivery_type_1')
                input#id_delivery_type_1(type='radio' name='delivery_type' value='49' required='')
                span.outer
                  span.inner
                span.text Курьером
              label.radio.radio-large(for='id_delivery_type_2')
                input#id_delivery_type_2(type='radio' name='delivery_type' value='50' required='')
                span.outer
                  span.inner
                span.text Почтой России
              label.radio.radio-large(for='id_delivery_type_3')
                input#id_delivery_type_3(type='radio' name='delivery_type' value='51' required='')
                span.outer
                  span.inner
                span.text СДЭК
              label.radio.radio-large(for='id_delivery_type_4')
                input#id_delivery_type_4(type='radio' name='delivery_type' value='52' required='')
                span.outer
                  span.inner
                span.text Pickpoint
              label.radio.radio-large(for='id_delivery_type_5')
                input#id_delivery_type_5(type='radio' name='delivery_type' value='99' required='' )
                span.outer
                  span.inner
                span.text OZON доставка
            fieldset.form__group.form__grey.-inline.fields
              #delivery_form_48.delivery__form.PickUpDeliveryForm(data-pickupdeliveryform-type='48')
                .form__item(dropshipping_mark='false')
                  input#id_first_name.form__input(type='text' name='first_name' placeholder='Имя' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_phone.form__input.phone(type='text' name='phone' placeholder='телефон' maxlength='12' minlength='11' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  label(for='id_shop_0')
                    | Магазин
                    span.required_mark.required_mark__inline *
                    | :
                  label.radio(for='id_shop_0')
                    input#id_shop_0(type='radio' name='shop' value='1' products='[(<Product: Вибропуля Indeep Mady Purple (7703-02indeep) 9adfbbe5-c54b-11e8-8df8-a0481c79f9a5>, 1), (<Product: Аксессуары на палочке Ночной волшебник (305917) 1fce1b85-a18a-11e9-8ef4-a0481c79f9a5>, 1), (<Product: Анальная втулка A-toys Butt Plug (761303) c328dc9e-0039-11e8-80c5-002590d18696>, 1), (<Product: Crystal Jellies (0287-05-CD) dea6d633-212b-11e3-b8b7-08edb94ddea0>, 1)]' required='')
                    span.outer
                      span.inner
                    span.text
                      em ул. Ново-Вокзальная, 146а
                      var Через 1-3 дня, бесплатно
                      var КРУГЛОСУТОЧНО!
                  label.radio(for='id_shop_1')
                    input#id_shop_1(type='radio' name='shop' value='2' products='[(<Product: Вибропуля Indeep Mady Purple (7703-02indeep) 9adfbbe5-c54b-11e8-8df8-a0481c79f9a5>, 1), (<Product: Аксессуары на палочке Ночной волшебник (305917) 1fce1b85-a18a-11e9-8ef4-a0481c79f9a5>, 1), (<Product: Анальная втулка A-toys Butt Plug (761303) c328dc9e-0039-11e8-80c5-002590d18696>, 1), (<Product: Crystal Jellies (0287-05-CD) dea6d633-212b-11e3-b8b7-08edb94ddea0>, 1)]' required='')
                    span.outer
                      span.inner
                    span.text
                      em г. Самара, ул. Ленинградская, 31
                      var Через 1-3 дня, бесплатно
                      var КРУГЛОСУТОЧНО!
                  label.radio(for='id_shop_2')
                    input#id_shop_2(type='radio' name='shop' value='3' products='[(<Product: Вибропуля Indeep Mady Purple (7703-02indeep) 9adfbbe5-c54b-11e8-8df8-a0481c79f9a5>, 1), (<Product: Аксессуары на палочке Ночной волшебник (305917) 1fce1b85-a18a-11e9-8ef4-a0481c79f9a5>, 1), (<Product: Анальная втулка A-toys Butt Plug (761303) c328dc9e-0039-11e8-80c5-002590d18696>, 1), (<Product: Crystal Jellies (0287-05-CD) dea6d633-212b-11e3-b8b7-08edb94ddea0>, 1)]' required='')
                    span.outer
                      span.inner
                    span.text
                      em г. Самара, Московское шоссе, Лит.В
                      var Через 1-3 дня, бесплатно
                      var КРУГЛОСУТОЧНО!
                  label.radio(for='id_shop_3')
                    input#id_shop_3(type='radio' name='shop' value='4' products='[(<Product: Вибропуля Indeep Mady Purple (7703-02indeep) 9adfbbe5-c54b-11e8-8df8-a0481c79f9a5>, 1), (<Product: Аксессуары на палочке Ночной волшебник (305917) 1fce1b85-a18a-11e9-8ef4-a0481c79f9a5>, 1), (<Product: Анальная втулка A-toys Butt Plug (761303) c328dc9e-0039-11e8-80c5-002590d18696>, 1), (<Product: Crystal Jellies (0287-05-CD) dea6d633-212b-11e3-b8b7-08edb94ddea0>, 1)]' required='')
                    span.outer
                      span.inner
                    span.text
                      em г. Самара, Гагарина, 48
                      var Через 1-3 дня, бесплатно
                      var c 10:00 до 22:00
                  label.radio(for='id_shop_4')
                    input#id_shop_4(type='radio' name='shop' value='6' products='[(<Product: Вибропуля Indeep Mady Purple (7703-02indeep) 9adfbbe5-c54b-11e8-8df8-a0481c79f9a5>, 1), (<Product: Аксессуары на палочке Ночной волшебник (305917) 1fce1b85-a18a-11e9-8ef4-a0481c79f9a5>, 1), (<Product: Анальная втулка A-toys Butt Plug (761303) c328dc9e-0039-11e8-80c5-002590d18696>, 1), (<Product: Crystal Jellies (0287-05-CD) dea6d633-212b-11e3-b8b7-08edb94ddea0>, 1)]' required='')
                    span.outer
                      span.inner
                    span.text
                      em г. Самара, ул. Авроры, 199
                      var Через 1-3 дня, бесплатно
                      var c 10:00 до 22:00
                input.new-button-type-fill.button-inline(type='submit' value='Продолжить')
              #delivery_form_49.delivery__form.CourierDeliveryForm(data-courierdeliveryform-type='49')
                .form__item(dropshipping_mark='false')
                  input#id_first_name.form__input(type='text' name='first_name' placeholder='Имя' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_phone.form__input.phone(type='text' name='phone' placeholder='телефон' maxlength='12' minlength='11' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_city.form__input(type='text' name='city' placeholder='Город' maxlength='40' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_street.form__input(type='text' name='street' placeholder='Улица' maxlength='120' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_house_number.form__input(type='text' name='house_number' placeholder='Дом' maxlength='10' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_apartment_number.form__input(type='text' name='apartment_number' placeholder='Квартира' maxlength='10')
                .form__item(dropshipping_mark='false')
                  textarea#id_comment.form__textarea(name='comment' cols='40' rows='10' placeholder='Дополнительные комментарии')
                .form__item(dropshipping_mark='false')
                  label(for='id_delivery_zone')
                    | Зона доставки
                    span.required_mark.required_mark__inline *
                    | :
                  select#id_delivery_zone.form__input(name='delivery_zone' placeholder='зона доставки')
                    option(value='1' selected='') Доставка по городу 200 руб
                    option(value='6') Южный город 350 руб
                    option(value='7') Сухая Самарка 400 руб
                    option(value='8') Стройкерамика 450 руб
                    option(value='9') п. Старосемейкино 650 руб
                    option(value='10') п. Смышляевка 400 руб
                    option(value='11') п. Петра Дубрава 500 руб
                    option(value='12') п. Управленческий 350 руб
                    option(value='13') п. Мехзавод 350 руб
                    option(value='14') Московское шоссе 18 км 250 руб
                    option(value='15') Ракитовское шоссе 250 руб
                    option(value='16') п. Волжский 700 руб
                    option(value='17') п. Мясокомбинат 300 руб
                    option(value='18') п. Малая Царевщина 700 руб
                    option(value='19') п. Курумоч 1000 руб
                    option(value='20') Красный Яр 800 руб
                    option(value='21') п. Красная Глинка 400 руб
                    option(value='22') Кошелев 400 руб
                    option(value='23') Кинель 650 руб
                    option(value='24') п. Зубчаниновка 350 руб
                    option(value='25') п. Запанской 300 руб
                    option(value='26') Горелый Хутор 350 руб
                    option(value='27') г. Чапаевск 1200 руб
                    option(value='28') г. Новокуйбышевск 600 руб
                    option(value='29') п. Алексеевка 600 руб
                    option(value='30') 116км 350 руб
                .form__item(dropshipping_mark='false')
                  label(for='id_delivery_date') Дата доставки:
                  input#id_delivery_date.form__input(type='text' name='delivery_date' readonly='readonly')
                .form__item(dropshipping_mark='false')
                  label(for='id_delivery_time_frame')
                    | Время доставки
                    span.required_mark.required_mark__inline *
                    | :
                  select#id_delivery_time_frame.form__input(name='delivery_time_frame' placeholder='время доставки' required='')
                    option(value='' selected='') ---------
                    option(value='9:00 - 12:00') 9:00 - 12:00
                    option(value='12:00 - 15:00') 12:00 - 15:00
                    option(value='15:00 - 18:00') 15:00 - 18:00
                    option(value='18:00 - 21:00') 18:00 - 21:00
                    option(value='21:00 - 00:00') 21:00 - 00:00
                    option(value='exact time') точное время доставки
                .form__item(dropshipping_mark='false')
                  input#id_delivery_exact_time.form__input(type='text' name='delivery_exact_time' placeholder='Точное время доставки' maxlength='70')
                input.new-button-type-fill.button-inline(type='submit' value='Продолжить')
              #delivery_form_50.delivery__form.PostDeliveryForm(data-postdeliveryform-type='50')
                .form__item(dropshipping_mark='false')
                  input#id_last_name.form__input(type='text' name='last_name' placeholder='Фамилия' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_first_name.form__input(type='text' name='first_name' placeholder='Имя' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_middle_name.form__input(type='text' name='middle_name' placeholder='Отчество' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_phone.form__input.phone(type='text' name='phone' placeholder='телефон' maxlength='12' minlength='11' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_city.form__input(type='text' name='city' placeholder='Город' maxlength='40')
                .form__item(dropshipping_mark='false')
                  input#id_street.form__input(type='text' name='street' placeholder='Улица' maxlength='120')
                .form__item(dropshipping_mark='false')
                  input#id_house_number.form__input(type='text' name='house_number' placeholder='Дом' maxlength='10')
                .form__item(dropshipping_mark='false')
                  input#id_apartment_number.form__input(type='text' name='apartment_number' placeholder='Квартира' maxlength='10')
                .form__item(dropshipping_mark='false')
                  input#id_zip_code.form__input(type='text' name='zip_code' placeholder='Почтовый индекс' maxlength='6')
                input.new-button-type-fill.button-inline(type='submit' value='Продолжить')
              #delivery_form_51.delivery__form.SdekDeliveryForm(data-sdekdeliveryform-type='51')
                .form__item(dropshipping_mark='false')
                  input#id_last_name.form__input(type='text' name='last_name' placeholder='Фамилия' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_first_name.form__input(type='text' name='first_name' placeholder='Имя' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_middle_name.form__input(type='text' name='middle_name' placeholder='Отчество' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_phone.form__input.phone(type='text' name='phone' placeholder='телефон' maxlength='12' minlength='11' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_cdek_pickup_point(type='hidden' name='cdek_pickup_point' data-label='Пункт выдачи')
                .form__item(dropshipping_mark='false')
                  input#id_cdek_price(type='hidden' name='cdek_price' data-label='Примерная стоимость без учета скидок, руб.\
                  (оплачивается при получении)')
                script(src='/static/cdek/widjet.min.js')
                script(type='text/javascript').
                  var cdekWidjet = new ISDEKWidjet ({
                  defaultCity: 'auto', //какой город отображается по умолчанию. Или "auto" для самоопределения.
                  cityFrom: 'Самара', // из какого города будет идти доставка
                  country: 'Россия', // можно выбрать страну, для которой отображать список ПВЗ
                  //link: 'forpvz', // id элемента страницы, в который будет вписан виджет
                  path: 'https://widget.cdek.ru/widget/scripts/', //директория с библиотеками
                  servicepath: '/cdek/service/', //ссылка на файл service.php на вашем сайте
                  // API-key Yandex.MAP
                  hidedress: true,
                  hidedelt: true,
                  popup: true,
                  'goods': [
                  {
                  length: 30,
                  width: 25,
                  height: 17,
                  weight: 5
                  },
                  ],
                  onChoose: onChoose
                  });
                  function onChoose(wat) {
                  const e = new Event("change");
                  if (wat.price) {
                  let priceField = document.getElementById('id_cdek_price');
                  priceField.value = wat.price;
                  priceField.dispatchEvent(e);
                  }
                  if (wat.PVZ.Address) {
                  let poinField = document.getElementById('id_cdek_pickup_point'),
                  address = wat.cityName + ', ' + wat.PVZ.Address;
                  poinField.value = address;
                  poinField.dispatchEvent(e);
                  }
                  }
                .cdek-select-point.new-button-type-fill(onclick='cdekWidjet.open()') Выбрать пункт выдачи
                input.new-button-type-fill.button-inline(type='submit' value='Продолжить')
              #delivery_form_52.delivery__form.PickPointDeliveryForm(data-pickpointdeliveryform-type='52')
                .form__item(dropshipping_mark='false')
                  input#id_last_name.form__input(type='text' name='last_name' placeholder='Фамилия' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_first_name.form__input(type='text' name='first_name' placeholder='Имя' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_middle_name.form__input(type='text' name='middle_name' placeholder='Отчество' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_phone.form__input.phone(type='text' name='phone' placeholder='телефон' maxlength='12' minlength='11' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_city.form__input(type='text' name='city' placeholder='Город' maxlength='40')
                .form__item(dropshipping_mark='false')
                  input#id_postamat.form__input(type='text' name='postamat' placeholder='Постамат Pickpoint' maxlength='255' required='')
                  span.required_mark *
                  p
                  a(rel='nofollow' target='_blank' href='http://pickpoint.ru/postamats/Samara/') Выбрать постамат
                  p
                input.new-button-type-fill.button-inline(type='submit' value='Продолжить')
              #delivery_form_99.delivery__form.OzonDeliveryForm(data-ozondeliveryform-type='99' style="display:block;")
                .form__item(dropshipping_mark='false')
                  input#id_last_name.form__input(type='text' name='last_name' placeholder='Фамилия' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_first_name.form__input(type='text' name='first_name' placeholder='Имя' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_middle_name.form__input(type='text' name='middle_name' placeholder='Отчество' maxlength='30' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  input#id_phone.form__input.phone(type='text' name='phone' placeholder='телефон' maxlength='12' minlength='11' required='')
                  span.required_mark *
                .form__item(dropshipping_mark='false')
                  
                  .button.button_style-1.button_bordered Выбрать пункт выдачи
                  br
                  br
                  .button.button_style-2.button_bordered Выбрать пункт выдачи
                  br
                  br
                  .button.button_style-1.button_bordered.button_xl Продолжить
               

        .col-lg-3
          .step
            .step__number 1
            .step__title Проверка заказа
            .step__money
              .step__icon
                img(src='/static/img/icon-st1.png' alt='Сумма заказа')
              .step__count 4 708 ₽
            a.step__edit(href='/catalog/cart/') редактировать
          .step.active
            .step__number 2
            .step__title Доставка
          .step
            .step__number 3
            .step__title Оплата
          .step.last
            .step__number 4
            .step__title Завершение
