:root {
  --color-chat-accent: #60a10f;
  --color-fixedbtn: #fff;
  --color-bg-fixedbtn: #000;
  --color-lk-accent-items: #60a10f;
  --color-lk-items-border: #B7CBE5;
  --color-lk-items-bg: #fff;
  --color-lk-items-hover-bg: #DEE1E4;
  --color-footer-links: #c1c1c1;
  --color-footer-links-hover: #fff;
  --color-footer-title: #fff;
  --color-banner-content-bg: #fff;
  --color-faq-element-bg: #f5f5f5;

  //new
  --color-card-border: #D9D9DE;
  --color-card-hover-border: #A7A7AB;
}