.to-top
  .to-top__inner
    svg.to-top__figure(viewBox='0 0 1920 60' fill='none' preserveAspectRatio="none" xmlns='http://www.w3.org/2000/svg')
      path.to-top__trigger(d='M549.255 59C286.334 59.3126 0 59 0 59H549.255C758.897 58.7508 953.653 58.104 976.5 56.5844C1095 48.7026 1152.07 3.47215 1257.5 1.08801C1377.29 -1.6207 1412.15 57.7355 1532 57.7351C1623.45 57.7349 1920 59 1920 59H1890H1860H1800H1680H1440H960H549.255Z' fill='url(#paint0_linear_469_69)')
      defs
        lineargradient#paint0_linear_469_69(x1='1021.5' y1='32.9782' x2='1444' y2='32.9782' gradientUnits='userSpaceOnUse')
          stop(offset='0' stop-color='#D18EE1')
          stop(offset='0.628223' stop-color='#8AD0F0')
          stop(offset='1' stop-color='#FCEEA4')
    .to-top__label
      span=$i18n.top_button

    svg.to-top__line(viewBox='0 0 1920 6' fill='none' preserveAspectRatio="none" xmlns='http://www.w3.org/2000/svg')
      path(d='M976.5 0.00241753C947.5 0.00241753 0 0.0203975 0 0.0203975V5.00193H1920V0.0203975H1532.13C1412.28 0.0206964 1375.5 0 1256.5 0C1151.04 0 1095.25 0.00241753 976.5 0.00241753Z' fill='url(#paint0_linear_469_71)')
      defs
        lineargradient#paint0_linear_469_71(x1='1021.5' y1='-25.0042' x2='1444' y2='-25.0042' gradientUnits='userSpaceOnUse')
          stop(offset='0' stop-color='#D18EE1')
          stop(offset='0.628223' stop-color='#8AD0F0')
          stop(offset='1' stop-color='#FCEEA4')
