.header {
  flex-shrink: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  &__container {
    display: grid;
    align-items: center;
    padding: 50px 0;
    grid-template-columns: 1fr auto 1fr;
    position: relative;
  }
  &__statistic {
    padding-right: 40px;
    position: relative;
    font-size: 0.75rem;
    font-weight: 500;
    padding-left: 60px;
    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
    }
    table {
      border-spacing: 0;
      font-weight: 500;
      td {
        padding: 0; 
        &:not(:last-child) {
          padding-right: 15px;
        }
      }
    }
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__right {
    display: flex;
    justify-content: flex-end;
  }
  &__right-content-bottom {
    display: flex;
    margin-top: 5px;
  }
  &__socials {
    flex: 0 0 auto;
  }
  &__small-btn {
    flex: 1 1 auto;
    padding: 0;
    line-height: 30px;
    border-radius: 6px;
    margin-left: 6px;
    font-size: 0.625rem;
    min-width: initial;
  }
}

.header-nav {
  grid-column: 2/3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  &__list {
    &_left {
      padding-right: 90px;
      text-align: right;
    }
    &_right {
      padding-left: 90px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  &__link {
    white-space: nowrap;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-accent);
    transition: opacity $trs1;
    &[data-touch], &[data-hover] {
      opacity: 0.8;
    }
  }
}