.cart-table-row {
  @media (max-width: 575px) {
    align-items: center;
    .artikul-mobile {
      a {
        color: inherit;
      }
    }
    .cart-product-price, .cart-product-price-new, .cart-thumb__title {
      font-size: 18px;
    }
    .qty {
      top: initial;
      width: auto !important;
      &__control {
        flex-shrink: 0;
      }
    }
  }
}

.new-card__bottom-type-sold {
  .new-card__button {
    text-align: center;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}