extends layout/layout

block content 
  #marketplace-select-city.selection-city
    .selection-city__wrap
      .selection-city__wrap_title
        p Выберите регион
        a.selection-city_button-close(href='#' onclick='openCityPopUp()') ✖
      .selection-city__select
  #marketplace-select-partner.selection-city
    .selection-city__wrap
      .selection-city__wrap_title
        p Выбор партнера
        a.selection-city_button-close(href='#' onclick='openPartnerPopUp()') ✖
      .selection-city__select
  #mobile-menu.mobile-menu
    .mobile-menu_title
      .mobile-menu_search
        form(action='/catalog/catalog_search/' method='get' novalidate='')
          input.menu-search(autocomplete='off' data-mobile='true' data-url='/catalog/search/' name='query' placeholder='Поиск' type='text')
          input(name='mobile_search' type='hidden' value='true')
      .mobile-menu_city-nav
        .buttons-selection-city
          .button-selection-city.marketplace-city-select
            | Город:  
            span.name-city Самара
          a.button-selection-partner.marketplace-partner-select(href='javascript:void(0)')
            span.button-selection-partner Партнер: ООО Красная Цена
      nav.mobile-menu_menu-nav
        ul.menu-nav_top-menu
          li.top-menu_item
            a.authorization-user(href='/users/login/')
              | Вход / Регистрация 
              span.icon
                img(alt='' src='/static/users/img/arrow.svg')
          li.top-menu_item
            input#list-1(title='' type='checkbox')
            label.side-menu-label(for='list-1') Каталог
            img.top-menu_item_icon(alt='' src='/static/assets/images/svg/icon-11.svg' title='')
            ul.menu-nav_bottom-menu
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/e3b4c2c0421641a1af7f508c1c6f38b7.svg')
                a(href='/catalog/obshchestroitelnye/') Общестроительные
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/e34a8cb0b8c14727a517a2dd40577e42.svg')
                a(href='/catalog/pilomaterialy/') Пиломатериалы
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/68afd690b362410f831724d0b1d9e721.svg')
                a(href='/catalog/krovlia-metallicheskaia/') Кровля металлическая
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/a4f7b43622394bb083e531c7c9bb522e.svg')
                a(href='/catalog/vodostochnye-sistemy/') Водосточные системы
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/1353c106baa6417bb2f2ffb8e1d902d0.svg')
                a(href='/catalog/mjagkaya-krovlia/') Мягкая кровля
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/a52e2177117240fcb04187762e553de4.svg')
                a(href='/catalog/teploizoliatsiia/') Теплоизоляция
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/4b9e35e0a514461c8cc90d9f0f869771.svg')
                a(href='/catalog/fanera-osb-dsp-dvp-tssp/') Фанера, осб, дсп, двп, цсп
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/cd8be71e2af7492589d8e6950b98c43b.svg')
                a(href='/catalog/otdelka-chernovaya-cement/') Отделка черновая
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/639910ae5281475195661981fe02d474.svg')
                a(href='/catalog/otdelka-finishnaia/') Отделка финишная
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/fc219cf05b35440a8edf3e92b0cb77b9.svg')
                a(href='/catalog/kraski-peny-germetiki/') Краски, пены, герметики
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/faeabf536f654632882d862689db3218.svg')
                a(href='/catalog/saiding/') Сайдинг
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/b1b7f0ef6e6f43a9ba971283ea27d733.svg')
                a(href='/catalog/fasad-shtukaturnyi/') Фасад штукатурный
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/9c66ef3696cd43dd9a555609384a843f.svg')
                a(href='/catalog/zabor-i-terrasa/') Забор и терраса
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/f76d2a09cbf54fc784d661112ec1df9b.svg')
                a(href='/catalog/kommunikatsii/') Коммуникации
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/8b58286c4cea42cc8d56638a1bcc58ee.svg')
                a(href='/catalog/instrument-i-raskhodniki/') Инструмент и расходники
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/590b5f795f8d4b70884c053301be460c.svg')
                a(href='/catalog/elektrika/') Электрика
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/518a600c477a4910a2ce25155059a8b7.svg')
                a(href='/catalog/nasosy/') Насосы
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/08a35e4420c34d619bd735b1b60a73df.svg')
                a(href='/catalog/komplekty/') Комплекты
              li.bottom-menu_item
                img.icon(alt='' src='/media/categories/images/icons/a4603bc716bb48a4b7af039deaf6b007.svg')
                a(href='/catalog/rasprodazha-i-nelikvid/') Уцененный товар
          li.top-menu_item
            a(href='/for-clients/') Для клиентов
          li.top-menu_item
            a(href='/customers/delivery_calculator/') Доставка
          li.top-menu_item
            a(href='/contacts/') Контакты
  svg.hidden(height='0' width='0')
    symbol#feedback-phone(fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
      path(clip-rule='evenodd' d='M20.32 22.522c4.766-4.227 4.45-18.007-.61-21.933-.796-.706-2.492-.535-3.664-.417-.235.023-.45.045-.631.057-2.619-.086-1.69 7.15 1.765 6.817 2.525-.267 2.817 9.335.226 9.166-3.325-.362-3.913 6.823-1.294 6.884.14.003.304.009.484.015 1.141.042 2.956.109 3.724-.59zm-4.186-.426c.171.003.355.01.547.017.468.017.99.037 1.531.007.37-.02.7-.063.967-.133.276-.072.413-.155.468-.205l.01-.009c.996-.883 1.796-2.338 2.329-4.186.529-1.834.77-3.972.714-6.118-.056-2.147-.407-4.265-1.034-6.062-.632-1.81-1.514-3.209-2.57-4.028l-.026-.02-.024-.022c-.066-.058-.204-.136-.47-.195a4.43 4.43 0 0 0-.956-.078c-.507.005-.96.051-1.397.096-.25.025-.496.05-.742.067l-.05.003-.049-.002c-.076-.002-.102.015-.13.039-.047.04-.131.144-.206.362-.154.448-.19 1.147-.044 1.912.146.76.448 1.457.84 1.923.376.444.78.63 1.238.587.672-.07 1.23.208 1.636.6.386.373.66.87.858 1.369.4 1.004.603 2.3.637 3.545.034 1.243-.097 2.548-.446 3.571-.173.509-.425 1.02-.799 1.41-.396.415-.95.708-1.626.663h-.021l-.022-.003c-.405-.044-.75.114-1.073.531-.344.446-.6 1.13-.703 1.89-.102.763-.031 1.478.154 1.957.183.474.37.51.459.512zM.293 11.596l4.243-4.242.707.707-3.036 3.035h10.986v1H2.207l3.036 3.036-.707.707-4.243-4.243z' fill='currentColor' fill-rule='evenodd')
    symbol#mobile-phone(fill='none' viewBox='0 0 24 23' xmlns='http://www.w3.org/2000/svg')
      path(d='M14.569 7.46c-.855-.556-1.51-1.245-1.175-2.042.67-1.595 1.935-5.942 3.968-4.207 1.06.737 2.272 1.749 2.272 1.749s.63.303.773 1.129c1.464 6.052-6.653 16.715-12.838 17.036-.77.05-1.22-.459-1.22-.459s-1.319-.825-2.325-1.656c-1.92-1.607 1.602-3.966 2.98-4.964.56-.543 1.43-.226 2.177.517 1.867 1.7 7.468-5.773 5.388-7.102z' fill='#fff')
    symbol#search-icon(fill='none' viewBox='0 0 18 19' xmlns='http://www.w3.org/2000/svg')
      circle(cx='8' cy='8' r='7.5' stroke='#000')
      path(d='M12.654 13.977l.707-.707 4.243 4.243-.707.707z' fill='#000')
  .content__wrapper.order_manager__wrapper
    .breadcrumbs__wrapper
      .row
        .col-12
          .row
            .col-12
              ul
                li
                  a(href='/') Главная
                li Оформление заказа
    form#order_form.row(action='' data-cart-url='/catalog/ajax_get_cart/' enctype='multipart/form-data' method='post' name='order_form' novalidate='')
      input(name='csrfmiddlewaretoken' type='hidden' value='yEZU79ls5Xk3LqtitjzAO20HoabeH5c34AICzOcw6o9mbPvSjNgHNHpuX6GzX1LJ')
      .col-12
        h1 Оформление заказа
      .col-12.col-sm-6.customer_personal_data__wrapper
        h2 Личные данные
        .row
          .col-12.col-sm-10
            .form-group
              input#id_name.form-control(maxlength='255' name='name' placeholder='Как вас зовут*' required='' type='text')
          .col-12.col-sm-10
            .form-group
              input#id_email.form-control(name='email' placeholder='Ваш e-mail*' required='' type='email')
          .col-12.col-sm-10
            .form-group.with-under-text
              input#id_phone.form-control(name='phone' type='text' placeholder='Ваш телефон*' required='' data-mask="phone")
            
          .col-12.col-sm-6
            .form-group
              input#id_card_number.form-control(data-ajax-get-customer='/customers/ajax_get_customer/' maxlength='50' name='card_number' placeholder='Номер скидочной карты' type='text')
      .col-12.col-sm-6.customer_cart__wrapper
        h2 Корзина покупок
        .cart_products__wrapper
          .row.cart_product__element.cart_product__element__headline
            .col Фото
            .col Наименование товара
            .col Наличие
            .col Количество
            .col Цена, руб
          .row.cart_product__element(data-ajax-url-remove='/catalog/ajax_remove_from_cart/' data-ajax-url-update='/catalog/ajax_update_cart/' data-can-credit='false' data-product-id='3583' data-single-price='1374.5')
            .col
              a(href='/catalog/product/utepliteli-isover/isover-profi-tvin-05m3-610h4100h50mm-4sht-10m2/')
                img(alt='' src='/media/products/images/99b446560b4c42659329b63075585cd7.catalog.jpg')
            .col
              a(href='/catalog/product/utepliteli-isover/isover-profi-tvin-05m3-610h4100h50mm-4sht-10m2/') Утеплитель Изовер ISOVER ПРОФИ - ТВИН 0,5м3 (610х4100х50мм 4шт) 10м2
            .col
              a.stock__wrapper(data-ajax-url='/catalog/ajax_get_stocks/' data-stock-container-id='product_stock-3583' href='#')
                img(alt='' src='/static/assets/images/svg/stock/green.svg')
                img(alt='' src='/static/assets/images/svg/stock/green.svg')
                img(alt='' src='/static/assets/images/svg/stock/green.svg')
            .col
              .row.counter__wrapper
                .col-3
                  a.btn.counter__minus(href='#')
                    svg(fill='none' height='2' viewBox='0 0 13 2' width='13' xmlns='http://www.w3.org/2000/svg')
                      path(d='M0 1L13 1' stroke='#828282' stroke-width='2')
                .col-6
                  input.form-control(autocomplete='off' data-product-id='3583' maxlength='6' name='count' onkeypress='return validateNumsOnly(event);' type='text' value='1')
                .col-3
                  a.btn.counter__plus(href='#')
                    svg(fill='none' height='14' viewBox='0 0 13 14' width='13' xmlns='http://www.w3.org/2000/svg')
                      rect(fill='black' fill-opacity='0' height='14' width='13')
                      path(d='M0 7L13 7' stroke='#828282' stroke-width='2')
                      path(d='M6.5 14L6.5 4.76837e-07' stroke='#828282' stroke-width='2')
            .col
              p
                span.cart_product__element__total 1 374.50
                a.cart_product__element__remove(href='#')
                  svg(fill='none' height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg')
                    rect(fill='black' fill-opacity='0' height='16' width='16')
                    circle(cx='8' cy='8' r='7.5' stroke='#FF161F')
                    path(d='M4 4L12 12' stroke='#FF161F')
                    path(d='M4 12L12 4' stroke='#FF161F')
          .row.cart_product__element.cart_product__element__summary
            .col-12
              | Сумма: 
              span.total_cart_summary__amount 1 374.50
              |  руб
      .col-12
        .delivery_togglers__wrapper.radiobutton_group
          label(data-content-target='self__delivery' for='id_delivery_type_0')
            input#id_delivery_type_0(checked='' name='delivery_type' required='' type='radio' value='0')
            span.radiobutton.radiobutton__active Самовывоз
          label(data-content-target='simple__delivery' for='id_delivery_type_1')
            input#id_delivery_type_1(name='delivery_type' required='' type='radio' value='1')
            span.radiobutton Доставка
      .col-12
        .row
          #self__delivery.col-12.col-sm-5.delivery_type__content__wrapper.radiobutton_group.pickup_point__list__wrapper
            h2 Выберите пункт самовывоза
            .row.pickup_point__wrapper
              .col-6
                label(for='id_pickup_point_0')
                  input#id_pickup_point_0(checked='' name='pickup_point' type='radio' value='1')
                  span.radiobutton.radiobutton__active ул. Олимпийская, 73 (основной склад)
              .col-5 53.257503, 50.302265
            .row
              .col-12.payment_method_selector__mobile
                #self__delivery__payment.payment_method_selector__wrapper.radiobutton_group
                  h2 Выберите удобную форму оплаты
                  label(data-content-target='simple__delivery' for='id_payment_type_0')
                    input#id_payment_type_0(checked='' name='payment_type' required='' type='radio' value='0')
                    span.radiobutton.radiobutton__active Наличными или картой в пункте самовывоза
                  label(data-content-target='simple__delivery' for='id_payment_type_1')
                    input#id_payment_type_1(name='payment_type' required='' type='radio' value='1')
                    span.radiobutton Картой онлайн
                  label(data-content-target='simple__delivery' for='id_payment_type_2')
                    input#id_payment_type_2(name='payment_type' required='' type='radio' value='6')
                    span.radiobutton Безналичный расчет (с НДС)
                  label(data-content-target='simple__delivery' for='id_payment_type_3')
                    input#id_payment_type_3(name='payment_type' required='' type='radio' value='2')
                    span.radiobutton В кредит
          #simple__delivery.col-12.delivery_type__content__wrapper(style='display: none;')
            h2 Напишите адрес доставки или укажите на карте
            .row.delivery_map__wrapper
              .col-12.col-sm-5
                .row
                  .col-12
                    .form-group.delivery_address__wrapper
                      input#place_address_by_map.form-control(autocomplete='off' maxlength='1024' name='address' placeholder='Адрес' type='text')
                      span.get_address_by_map
                        svg(fill='none' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg')
                          rect(fill='black' fill-opacity='0' height='24' width='24')
                          path(d='M12 8C9.79 8 8 9.79 8 12C8 14.21 9.79 16 12 16C14.21 16 16 14.21 16 12C16 9.79 14.21 8 12 8ZM20.94 11C20.48 6.83 17.17 3.52 13 3.06V1H11V3.06C6.83 3.52 3.52 6.83 3.06 11H1V13H3.06C3.52 17.17 6.83 20.48 11 20.94V23H13V20.94C17.17 20.48 20.48 17.17 20.94 13H23V11H20.94ZM12 19C8.135 19 5 15.865 5 12C5 8.135 8.135 5 12 5C15.865 5 19 8.135 19 12C19 15.865 15.865 19 12 19Z' fill='#828282' fill-opacity='0.5')
                      #addressTips.dropdown-menu.address_select__dropdown
                      input#id_address_lat(name='address_lat' type='hidden')
                      input#id_address_long(name='address_long' type='hidden')
                    h2 Выберите ближайший склад
                    .form-group
                      select#id_store.form-control(name='store')
                        option(value='1') Олимпийская, 73а
                  .col-12
                    .form-group
                      textarea#id_comment.form-control(cols='40' maxlength='1024' name='comment' placeholder='Комментарий к заказу' rows='3')
                  .col-12.delivery_calculation__wrapper(data-delivery-cost-url='/customers/ajax_get_delivery_cost/' data-store-address='г. Самара, ул. Олимпийская, 73')
                    h2 Расчет стоимости доставки
                    p#order-weight
                      | Общий вес заказа, кг: 
                      strong 7
                    p#order-volume
                      | Объем, м3: 
                      strong 1
                    p#order-truck-model
                      | Тип авто: 
                      strong
                        select#id_truck_model.form-control(name='truck_model')
                          option(selected='' value='3') Газель 3 м
                          option(value='4') Газель 4,20 м
                          option(value='5') Газель открытая 5м
                          option(value='2') Камаз 10т.
                          option(value='6') Валдай 5т.
                    p#order-truck-count
                      | Количество авто, шт: 
                      strong 1
                    input#id_truck_count(name='truck_count' type='hidden' value='1')
                    p#order-overload
                      | Перегруз, кг: 
                      strong 0
                    p#order-volume-ok
                      | Габаритный груз: 
                      strong да
                    p.route_length Расстояние: - км
                    p.delivery_cost Стоимость доставки: руб.
                    input#id_delivery_cost(name='delivery_cost' type='hidden' value='0')
                    p.whole_cost Итого с доставкой: руб.
              .col-12.col-sm-7
                .row.delivery_yamap__container
                  .col-12.col-md-11
                    #yamap_delivery.delivery_yamap__wrapper
              .col-12.col-sm-5.payment_method_selector__mobile
                #simple__delivery__payment.payment_method_selector__wrapper.radiobutton_group
                  h2 Выберите удобную форму оплаты
                  label(data-content-target='simple__delivery' for='id_payment_type2_0')
                    input#id_payment_type2_0(checked='' name='payment_type2' required='' type='radio' value='3')
                    span.radiobutton.radiobutton__active Наличными при получении
                  label(data-content-target='simple__delivery' for='id_payment_type2_1')
                    input#id_payment_type2_1(name='payment_type2' required='' type='radio' value='4')
                    span.radiobutton Картой при получении
                  label(data-content-target='simple__delivery' for='id_payment_type2_2')
                    input#id_payment_type2_2(name='payment_type2' required='' type='radio' value='1')
                    span.radiobutton Картой онлайн
                  label(data-content-target='simple__delivery' for='id_payment_type2_3')
                    input#id_payment_type2_3(name='payment_type2' required='' type='radio' value='5')
                    span.radiobutton Оплата в офисе продаж
                  label(data-content-target='simple__delivery' for='id_payment_type2_4')
                    input#id_payment_type2_4(name='payment_type2' required='' type='radio' value='6')
                    span.radiobutton Безналичный расчет (с НДС)
                  label(data-content-target='simple__delivery' for='id_payment_type2_5')
                    input#id_payment_type2_5(name='payment_type2' required='' type='radio' value='2')
                    span.radiobutton В кредит
                #simple__delivery__service_office.service_office_selector__wrapper.radiobutton_group
                  h2
                    | Выберите офис обслуживания
                    br
                    | (не обязательно)
                  label(for='id_service_office_0')
                    input#id_service_office_0(name='service_office' type='radio' value='4')
                    span.radiobutton Олимпийская 73
      .col-12
        button.btn.btn-primary.btn-order-submit(type='submit')
          svg(fill='none' height='15' viewBox='0 0 23 15' width='23' xmlns='http://www.w3.org/2000/svg')
            path(d='M1 5.5L9 14.5L22.5 0.5' stroke='white' stroke-linejoin='round')
          | Подтвердить заказ
      .col-12.col-sm-5.agreement__wrapper
        p.agreement_text
          | Нажимая на кнопку, вы подтверждаете свое совершеннолетие, соглашаетесь на обработку персональных данных в соответствии с 
          a(href='/privacy/') Условиями
          | , а также с 
          a(href='/privacy/') Условиями продажи
          | .
  a(name='contact_form')
  .inline_order_form__wrapper.inline_order_form__wrapper__white
    .row
      .col-12.col-lg-11
        a.btn.btn-default.toggle_inline_menu(href='#')
          | Написать нам
          svg(fill='none' height='16' viewBox='0 0 24 16' width='24' xmlns='http://www.w3.org/2000/svg')
            path(d='M22 0H0V14.6341H22V0Z' stroke='#828282' stroke-linejoin='round' stroke-miterlimit='10' transform='translate(1 0.658569)')
            path(d='M0 0L11 7.31663L22 0' stroke='#828282' stroke-linejoin='round' stroke-miterlimit='10' transform='translate(1 0.658569)')
        form(action='/feedback/message/' method='post' name='feedback_form')
          input(name='csrfmiddlewaretoken' type='hidden' value='yEZU79ls5Xk3LqtitjzAO20HoabeH5c34AICzOcw6o9mbPvSjNgHNHpuX6GzX1LJ')
          p.form__headline
            | Если вам лень воспользоваться корзиной заказа.
            br
            |  Отправьте заказ с помощью этой легкой формы, абсолютно бесплатно!
          input(name='url' type='hidden' value='/customers/order/')
          .row
            .col-12.col-md-6.col-lg-5
              .form-group
                input#id_name.form-control(maxlength='255' name='name' placeholder='Как Вас зовут' type='text')
              .form-group
                input#id_email.form-control(maxlength='254' name='email' placeholder='Ваш E-Mail' required='' type='email')
            .col-12.col-md-6.col-lg-6
              .form-group
                textarea#id_message.form-control(cols='40' name='message' placeholder='Что Вас интересует?' rows='10')
          .row
            .col-12.col-md-6.col-lg-5
              .row.phone_input__wrapper
                .col-3.col-sm-2 +7
                .col-9.col-sm-5
                  .form-group
                    input#id_phone.form-control(maxlength='50' name='phone' placeholder='Ваш телефон' type='text')
                .col-12.col-sm-5
                  button#recaptcha-invisible-10268.g-recaptcha.btn.btn-primary(data-callback='feedbackFormCallback' data-sitekey='6LdwCM0UAAAAALCB-rqW-mMSrLuT7C_fxhuzS-3A') Отправить
                  script.
                    function feedbackFormCallback(token) {
                    if (typeof feedbackFormHandler === "function") {
                    feedbackFormHandler();
                    }
                    }
            .col-12.col-md-6.col-lg-6
              label.custom_checkbox
                span
                  svg(fill='none' height='11' viewBox='0 0 11 11' width='11' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 9.8995L5.65685 10.1067L3.53553 0' stroke='#C1C1C1' transform='translate(7.5 -1.5) rotate(45)')
                input#id_agree(name='agree' type='checkbox')
                | Согласие на обработку персональных данных.
          p.feedback_form__bottom_text
            | Профессиональные консультанты свяжутся с вами в течение одного рабочего дня. Спасибо, что выбрали нас!
  