.logo {
  display: block;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.login-section {
  height: 100%;
  display: flex;
  &__wrapper {
    flex: 1 1 52%;
    display: flex;
    padding: 30px;
  }
  &__image {
    flex: 1 1 48%;
  }
  &__content {
    margin: auto;
    width: 100%;
    max-width: 400px;
  }
  &__logo {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  @include media-breakpoint-down(sm) {
    display: block;
    &__image {
      display: none;
    }
    &__wrapper {
      padding: 30px var(--container-gutter-x);
      height: 100%;
    }
    &__logo {
      max-width: 180px;
    }
    &__content {
      max-width: 350px;
    }
  }
}

.login-form {
  &__submit {
    display: flex;
    justify-content: flex-end;
  }
}

.tariff-box {
  font-size: 18px;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--color-muted-4);
  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    background-color: var(--color-accent-1);
    color: #fff;
    border-bottom: 1px solid var(--color-muted-4);
  }
  &__content {
    padding: 0 34px;
  }
  &__section {
    padding: 34px 0;
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-muted-4);
    }
  }
  &__subscription-text {
    strong {
      font-size: 22px;
    }
  }
  &__link {
    display: block;
    margin-bottom: 10px;
    a {
      word-break: break-all;
    }
  }
  &__copy-link {
    font-weight: 700;
    color: var(--color-accent-2);
    text-decoration: underline;
    &[data-touch], &[data-hover] {
      color: var(--color-accent-2_2);
    }
  }
  @include media-breakpoint-down(lg) {
    &__content {
      padding: 0 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    border-radius: 20px;
    &__head {
      min-height: 75px;
      padding: 10px 0;
    }
    &__content {
      padding: 0 15px;
    }
    &__section {
      padding: 15px 0 25px 0;
    }
  }
}