.login-input {
  background-color: #fff;
  border: 2px solid var(--login-input-border-color);
  color: var(--color-text-dark);
  position: relative;
  font-weight: 600;
  font-size: 16px;
  &_top-left {
    border-top-left-radius: 10px;
  }
  &_top-right {
    border-top-right-radius: 10px;
  }
  &_bottom-left {
    border-bottom-left-radius: 10px;
  }
  &_bottom-right {
    border-bottom-right-radius: 10px;
  }
  input {
    width: 100%;
    line-height: 20px;
    padding: 8px 14px;
    &::placeholder {
      color: var(--login-input-placeholder-color);
      transition: opacity var(--trs-1);
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  input {
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--color-text);
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s;
    }
  }
}

.input {
  &__label {
    color: var(--color-input-label);
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  &__element {
    position: relative;
    border-radius: 5px;
    border: 1px solid var(--color-input-border);
    input {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      padding: 14px;
      &::placeholder {
        color: var(--color-input-placeholder);
        transition: opacity var(--trs-1);
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
}

.input-date {
  &__element {
    input {
      padding-right: 45px;
    }
    .icon {
      position: absolute;
      width: 22px;
      height: 22px;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--color-muted-5);
      pointer-events: none;
    }
  }
}

.select {
  position: relative;
  z-index: 1000;
  select, .ss-single-selected {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 14px;
    border: 1px solid var(--color-input-border);
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
  }
  .ss-main {
    position: relative;   
  }
  .ss-single-selected {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  .placeholder {
    display: block;
  }
  .ss-arrow {
    display: block;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    .icon {
      width: 100%;
      height: 100%;
      display: block;
      transform: translateY(1px);
    }
    .arrow-down, .arrow-up {
      display: block;
      width: 12px;
      height: 12px;
      transition: transform var(--trs-1);
    }
    .arrow-up {
      transform: rotate(180deg);
    }
  }
  .ss-deselect, .ss-search {
    display: none;
  }
  .ss-content {
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--trs-1), visibility var(--trs-1);
    &.ss-open {
      opacity: 1;
      visibility: visible;
    }
  }
  .ss-list {
    background-color: #fff;
    border: 1px solid var(--color-input-border);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--modal-box-shadow);
  }
  .ss-option {
    cursor: pointer;
    display: block;
    transition: color var(--trs-1), background-color var(--trs-1);
    padding: 10px 14px;
    &[data-touch], &[data-hover] {
      color: var(--color-accent-1);
    }
    &.ss-disabled {
      color: var(--color-muted-1);
      cursor: default;
    }
    &.ss-option-selected {
      background-color: var(--color-accent-1);
      color: #fff;
    }
  }
}

.check-slide {
  input {
    display: none;
    &:checked ~ span {
      &::before {
        transform: translate(32px);
        background-color: var(--color-accent-2);
      }
    }
  }

  span {
    --height: 30px;
    display: block;
    height: var(--height);
    width: 62px;
    border-radius: calc(var(--height) / 2);
    border: 1px solid var(--color-muted-4);
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--color-muted-4);
      top: 2px;
      left: 2px;
      transition: background-color var(--trs-1), transform var(--trs-1);
    }
  }
}